body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  border: 4px solid #AFC1D6;
  margin: auto;
  width: 42%;
}

a {
  color: #5f0f40;
  font-size: 15px;
  
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
li {
  list-style: none;
  text-align: justify;
  font-size: 15px;
  
}

button {
  border-radius: 11px;
  background-color: #655A7C;
  color: white;
  padding: 7px;
  font-size: 15px;
  margin-top: 7px;
}

input {
  padding: 8px;
}